---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
---

<Layout title="Accueil">
  <Container>
    <h1 class="animate font-semibold text-black dark:text-white">
      Eerie est une collection de poèmes personnels, écrits à la fin des années 2000.
    </h1>
    <div class="space-y-16">
      <section class="animate space-y-4">
        <article>
          <p>Ce mot assez difficile à traduire depuis l'anglais peut signifier à la fois "étrange", "inquiétant" ou "fantastique" (de manière mystérieuse).</p>
          <p>
            Parmi les synonymes existants, cela peut aussi avoir pour sens :
            <ul>
              <li>Effrayant</li>
              <li>Troublant</li>
              <li>Bizarre</li>
            </ul>
          </p>
          <p>
            Ces poèmes ont été écrit pendant des périodes d'incertitude et je souhaitais les sauvegarder avant que le
            support papier originel ne les estompe dans un passé de plus en plus lointain.
          </p>
        </article>
      </section>
      <section class="animate space-y-4">
        <a
          href={"/collection"}
          class="not-prose group relative flex flex-nowrap rounded-lg border border-black/15 px-4 py-3 pr-10 transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
        >
          <div class="flex flex-1 flex-col truncate">
            <div class="font-semibold">Voir la collection</div>
            <div class="text-sm">5 poèmes</div>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="absolute right-2 top-1/2 size-5 -translate-y-1/2 fill-none stroke-current stroke-2"
          >
            <line
              x1="5"
              y1="12"
              x2="19"
              y2="12"
              class="translate-x-3 scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100 group-focus-visible:translate-x-0 group-focus-visible:scale-x-100"
            ></line>
            <polyline
              points="12 5 19 12 12 19"
              class="-translate-x-1 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-focus-visible:translate-x-0"
            ></polyline>
          </svg>
        </a>
      </section>
    </div>
  </Container>
</Layout>
